<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
  </head>
  <body class="bg-dark text-white-50">
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Navbar</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
            </li>
          </ul>
          <ul class="navbar-nav mb-2 mb-lg-0">
            <li class="my-2"><a class="btn btn-outline-light me-2 ">Profile</a></li>
            <li class="my-2"><a class="btn btn-outline-light me-2">Logout</a></li>
          </ul>
          <form class="d-flex">
            <input
              class="form-control me-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button class="btn btn-outline-light" type="submit">Search</button>
          </form>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="row mt-5 mb-5">
        <div class="col-lg-10 offset-lg-1 col-12">
          <div class="row row-cols-1 row-cols-md-3 row-cols-sm-2 g-4">
            <div class="col">
              <div class="card h-100 bg-secondary">
                <img
                  src="https://images.unsplash.com/photo-1578088369622-b26f899a016e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Restaurant Name</h5>
                  <p class="card-text">
                    This is a longer card with supporting text below as a
                    natural lead-in to additional content. This is a restaurant
                    description.
                  </p>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-secondary text-white-50">
                      <a href="" class="btn btn-outline-light">Details</a>
                    </li>
                    <li class="list-group-item bg-secondary text-white-50">
                      Location
                    </li>
                    <li class="list-group-item bg-secondary text-white-50">
                      Rating
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100 bg-secondary">
                <img
                  src="https://images.unsplash.com/photo-1578088369622-b26f899a016e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h5 class="card-title">Restaurant Name</h5>
                  <p class="card-text">
                    This is a longer card with supporting text below as a
                    natural lead-in to additional content. This is a restaurant
                    description.
                  </p>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item bg-secondary text-white-50">
                      <a href="" class="btn btn-outline-light">Details</a>
                    </li>
                    <li class="list-group-item bg-secondary text-white-50">
                      Location
                    </li>
                    <li class="list-group-item bg-secondary text-white-50">
                      Rating
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
